<% @users.each do |user| %>
    <ul>
        <%= user.name %>
        <% user.bags.each do |bag| %>
    <li>  <%= link_to bag.name, user_bag_path(user, bag) %>  </li>
    <% end %>
    </ul>
<% end %>

<% if logged_in? %>
    <h3>
        <%= link_to "Create A New Bag", new_user_bag_path(current_user), class: "btn btn-outline-success btn-lg my-3" %>
    </h3>
<% end %>
