<% @users.each do |user| %>
    <ul>
        <%= user.name %>
        <% user.bags.each do |bag| %>
    <li>  <%= link_to bag.name, user_bag_path(user, bag) %>  </li>
    <% end %>
    </ul>
<% end %>

