<section class="d-flex align-items-center" style="height: 93.5vh; width: 100vw;">
  <main class="form-signin text-center m-auto" style="width: 100%; max-width: 363px; padding: 15px;">

    <% if @alert %>
      <h3><%= @alert %></h3>
        <% @errors.each do |m| %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= m %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
    <% end %>
    
    <h1 class="h3 mb-3 fw-normal">Let's Edit Your Bag!</h1>

    <%= render 'form', bag: @bag %>

    <p class="mt-3">
      <%= link_to "Back to List", bags_path %>
    </p>

  </main>
</section>
